
.bgvideo {
    height: 70vh;
    width: 100%;
    /* тоже для отображения видео
    слева свехру */
    position: relative;
    display: flex;
    /* центрую текст над видео */
    justify-content: center;
    align-items: center;
}
.bgvideo video {
    /* vh это единицы измерения экрана
    просмотра и чувствительны к высоте
    окна браузера, т.е. 70% не от
    высоты контейнера, а от экрана
    просмотра. А % это 100% от ширины
    контейнера */
    height: 70vh;
    width: 100%;
    /* эти настройки делают отображение
    видео с левого верхнего угла */
    position: absolute;
    top: 0;
    left: 0;
    /* если изображение переполняет
    какой-то контейнер, то поля которые
    не вмещаются буду орезаны, а видео
    отцентровано по этому контейнеру */
    object-fit: cover;
    z-index: 1;
}

.effect {
    /* vh это единицы измерения экрана
    просмотра и чувствительны к высоте
    окна браузера, т.е. 70% не от
    высоты контейнера, а от экрана
    просмотра. А % это 100% от ширины
    контейнера */
    height: 70vh;
    width: 100%;
    /* эти настройки делают отображение
    видео с левого верхнего угла */
    position: absolute;
    top: 0;
    left: 0;
    /* если изображение переполняет
    какой-то контейнер, то поля которые
    не вмещаются буду орезаны, а видео
    отцентровано по этому контейнеру */
    object-fit: cover;
    z-index: 2;
    /* затемняю видео */
    background-color: rgba(0, 0, 0, 0.301);
}
.video-text {
    color: rgb(0, 0, 0);
    /* индексы указываются, чтобы
    текст был сверху видео */
    z-index: 2;
}