/* Подключаю гугл шрифты */
@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    /* Подключаю шрифт и через запятую указываю
    еще один, который будет использоваться,
    если первый недоступен */
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #0b005e 0%, #000000 100%);
}

/*Для всех тегов p задаю цвет, все селекторы,
которые удут ниже при изменении цвета 
перекроют его*/
p {
    color: aquamarine;
}
/* меняю цвет ссылки */
.nav-link {
    color: aquamarine;
}

/* меняю цвет активной ссылки */
.navbar-nav .nav-link.active {
    color: rgb(168, 168, 168);
}

.navbar-brand img {
    width: 40px;
}

/* меняю цвет кнопки бургера */
.navbar-toggler {
    background-color: rgb(168, 168, 168);
}

.sidebar {
    color:aquamarine;
    background: linear-gradient(270deg, #0b005e 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #0b005e 0%, #000000 100%);
    color:aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    /* два раза auto в margin означает
    задать и по x и по y задать центральное
    положение от контейнера от которого
    он находится */
    margin: auto auto;
}

/*убираю подчеркивание*/
.footer-text a {
    text-decoration: none;
}
footer,
.btn-outline-primary {
    
    background: linear-gradient(270deg, #0b005e 0%, #000000 100%);
}

.media-links {
    display: flex;
    /*выравнивает по центру по горизонтали*/
    justify-content: center;
    /*выравнивает по центру по вертикали*/
    align-items: center;
}

/*css для анимации телефона сначала верхняя часть кода*/
.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

/*вторая часть кода анимации*/
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

/* отключаю отображение кнопок на
мобильных устройствах */
@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}