body {
    background-color: rgba(204, 214, 216, 0.411);
}

.navbar {
    background-color: rgb(204, 214, 216);
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

.nav-link:hover {
    font-weight: bold;
  }

.dropdown-menu {
    width: 255px;
    background-color: rgb(204, 214, 216);

}

.dropdown-menu li:hover {
    img {
        transform: scale(1.1);  
        transition: all 0.3s ease; 
    };

    a {
        font-weight: bold;
    }
}

.navbar-nav .nav-link {
    font-size: 1.15rem;
    color: rgb(8, 8, 8);
}

.navbar-nav .nav-link.active{
    font-weight: 500;
   
    font-size: 1.15rem;
    font-style: unset;

}


.navbar-brand img {
    width: 100px;
}


.dropdown-item-vk img {
    width: 40px;
    margin: 5px;
    
}

.dropdown-item-vk {
    text-decoration: none;
    color: black;
}


.dropdown-item-tg img {
    width: 40px;
    margin: 5px;
    
}

.dropdown-item-tg {
    text-decoration: none;
    color: black;
}


.dropdown-item-whatsup img {
    width: 40px;
    margin: 5px;
    
}

.dropdown-item-whatsup {
    text-decoration: none;
    color: black;
}


.dropdown-item-phone img {
    width: 40px;
    margin: 5px;
    
}

.dropdown-item-phone {
    text-decoration: none;
    color: black;
}


.dropdown-item-mail img {
    width: 40px;
    margin: 5px;
    
}

.dropdown-item-mail{
    text-decoration: none;
    color: black;
}

.btn-tg {
    width: 152.13px;
}

/* Показывает кнопку с 992 */
@media (max-width: 991px) {
    .btn-big{
        display: none;
    }
}
/* Показывает кнопку до 992
(991 последний размер) */
@media (min-width: 992px) {
    .btn-tg{
        display: none;
    }
}

/* index section */
.h2-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.techno-max-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box2 img {
    max-width: 100%;
    border-radius: 20px;
    -moz-border-radius: 20px;
}


#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    -moz-border-radius: 20px;
}


#box {
    display: flex;
    background-color:#38bcc573;
    margin: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 35px;

}

#box:hover {
    transform: scale(1.05);  // Увеличение размера элемента
    transition: all 0.3s ease;  // Плавный переход
  }

#box b {
    text-align: center;
}



/* Footer */
.footer-content {
    background-color: rgb(204, 214, 216);
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.footer-img img {
    width: 150px;
}

.footer-img img:hover {
    transform: scale(1.1);  
    transition: all 0.3s ease;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.footer-contacts img:hover {
    transform: scale(1.2);  
    transition: all 0.3s ease;
}

.footer-item-vk img {
    width: 40px;
    margin: 5px;
    
}

.footer-item-vk {
    text-decoration: none;
    color: black;
}


.footer-item-tg img {
    width: 40px;
    margin: 5px;
    
}

.footer-item-tg {
    text-decoration: none;
    color: black;
}


.footer-item-whatsup img {
    width: 40px;
    margin: 5px;
    
}

.footer-item-whatsup {
    text-decoration: none;
    color: black;
}


.footer-item-phone img {
    width: 40px;
    margin: 5px;
    
}

.footer-item-phone {
    text-decoration: none;
    color: black;
}


.footer-item-mail img {
    width: 40px;
    margin: 5px;
    
}

.footer-item-mail {
    text-decoration: none;
    color: black;
}

.footer-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.hr-shelf {
	margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}

.btn-primary {
    background-color: rgb(43, 169, 207);
}

.btn-custom {
    background-color: rgba(43, 169, 207, 0.829);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    -moz-border-radius: 20px;
    color: black;
    font-size: 17px;
}

.btn-custom:hover {
    background-color: rgba(43, 169, 207, 0.829);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }

/* настройка карты товара */
.card {
    background-color: rgb(204, 214, 216);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    -moz-border-radius: 20px;
    
}

.card-image {
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
    
}

.carousel-item img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

.card-body {
    display: block;
}
.card-body a {
    width: 150px;

   
}






